#Using Pandas package in python
#1.How to read data from a CSV (comma-separated value) file to create a DataFrame.
#2.How to filter data in a DataFrame.
#3.How to compute summary statistics for a DataFrame.
#4.How to use the groupby method to aggregate data.
#5.How to dump results of analysis to a CSV file.

#Total estimated annual dollar value of utility discounts for businesses approved for ECSP benefits during the fiscal year.
#Data privided by Department of Small Business Services

In [23]:
import pandas as pd
#Read in the data from the csv file
Value_ECSP=pd.read_csv("Value_of_Energy_Cost_Savings_Program_Savings_for_Businesses_-_FY2020.csv")

In [49]:
#Q1:How many different companies are represented in the data set?
no_companies=Value_ECSP["Company Name"].nunique()
print(no_companies)

439

In [50]:
# Q2:What is the total number of jobs created for businesses in Queens?
df=Value_ECSP
jobs_in_queens = df[df["Company Name"] == 'Queens']['Job created'].sum()
print(jobs_in_queens)

0.0

In [51]:
# How many different unique email domains names are there in the data set?
num_email_domains = df["company email"].apply(lambda x: x.split('@')[1]).nunique()
print(num_email_domains)

AttributeError: 'float' object has no attribute 'split'

#Q3:How many different unique email domains names are there in the data set?

In [52]:
import pandas as pd
import re as re
def find_email(text):
    email=re.findall(r'[\w\.-]+@[\w\.-]+',str(text))
    return ",".join(email)
find_email(Value_ECSP["company email"])
Value_ECSP["email"]=Value_ECSP["company email"].apply(lambda x: find_email(x))
print("\Extracting email from dataframe columns:")
print(Value_ECSP)

\Extracting email from dataframe columns:
                                 Company Name    company contact  \
0                              1 State Street      David Neiburg
1                              100 Church LLC  Edward A. Carroll
2                        100 Wall Investments       Jerry Branam
3                 1-10 Bush Terminal Owner LP     Andrew Kimball
4    120 Broadway Acquisitions JV, LLC (Ldmk)        Carl Letich
..                                        ...                ...
445                         WONTON FOOD, INC.         DONALD LAU
446                                Wood Works       Gordon Brawm
447           WorldWide Plumbing Supply, Inc.    Surie Lefkowitz
448                         WUD Furniture LLC     Keren Springer
449                       Wurtec Incorporated          Bill Popp

                 company email company phone                Address  \
0       eskoblo@energyspec.com    7186779077          1114 Avenue J
1                          NaN    2125663000      100 Church Street
2                          NaN    2122487160         96 Wall Street
3    akimball@industrycity.com    3474178429  220 36th St, Suite 2A
4        clettich@silvprop.com    2124064020           120 Broadway
..                         ...           ...                    ...
445   donaldlau@wontonfood.com    7186286868  220-222  MOORE STREET
446       brawnworks@gmail.com    9179404950        162 Cook Street
447           sheidya@wwps.com    7188533002        125 Lake Avenue
448     keren@wudfurniture.com    7184867952   1102 Atlantic Avenue
449       bill.popp@wurtec.com    4197261066      31-50 31st Street

                 City State  Postcode                          Industry  \
0            Brooklyn    NY     11230                        Commercial
1                  NY    NY     10007                        Commercial
2            New York    NY     10005                          Landlord
3            Brooklyn    NY     11232                          Landlord
4            New York    NY     10271                        Commercial
..                ...   ...       ...                               ...
445          Brooklyn    NY     11206                     Manufacturing
446          Brooklyn    NY     11206                     Manufacturing
447     Staten Island    NY     10303                     Manufacturing
448          Brooklyn    NY     11238                     Manufacturing
449  Lond Island City    NY     11106  Wholesale/Warehouse/Distribution

                                        Industry descr  ...        Borough  \
0                                    35 story building  ...       Brooklyn
1                                            21 Floors  ...       New York
2                                                  NaN  ...       New York
3    Special Eligible Premises for eligible businesses  ...       Brooklyn
4                                                  NaN  ...       New York
..                                                 ...  ...            ...
445                          MFG. PASTA, EGGROLL SKINS  ...       Brooklyn
446                        Installer of wood furniture  ...       Brooklyn
447      Plumbing Fixtures, Parts & Supplies, Plumbers  ...  Staten Island
448  We make handcrafted furniture, surfaces, lighting  ...       Brooklyn
449                         Elevator  tooling products  ...         Queens

      Latitude  Longitude  Community Board Council District  Census Tract  \
0    40.624784 -73.964920            314.0             44.0         534.0
1    40.712968 -74.009490            101.0              1.0          21.0
2    40.705052 -74.007199            101.0              1.0           7.0
3    40.656061 -74.007334            307.0             38.0           2.0
4    40.708546 -74.011041            101.0              1.0           7.0
..         ...        ...              ...              ...           ...
445  40.704425 -73.936010            301.0             34.0         485.0
446  40.702869 -73.936466            301.0             34.0         485.0
447  40.633518 -74.150942            501.0             49.0         239.0
448  40.679518 -73.956819            308.0             35.0         305.0
449  40.763148 -73.924442            401.0             22.0          61.0

           BIN           BBL  \
0    3179818.0  3.067130e+09
1    1001409.0  1.001250e+09
2    1000875.0  1.000380e+09
3    3398687.0  3.006950e+09
4    1001026.0  1.000478e+09
..         ...           ...
445  3071539.0  3.031090e+09
446  3071625.0  3.031230e+09
447  5107122.0  5.011610e+09
448  3027572.0  3.011260e+09
449  4007562.0  4.005890e+09

                                                   NTA  \
0                                              Midwood
1               SoHo-TriBeCa-Civic Center-Little Italy
2                    Battery Park City-Lower Manhattan
3                                     Sunset Park West
4                    Battery Park City-Lower Manhattan
..                                                 ...
445                                     Bushwick South
446                                     Bushwick South
447  Mariner's Harbor-Arlington-Port Ivory-Granitev...
448                                Crown Heights North
449                                            Astoria

                         email
0       eskoblo@energyspec.com
1
2
3    akimball@industrycity.com
4        clettich@silvprop.com
..                         ...
445   donaldlau@wontonfood.com
446       brawnworks@gmail.com
447           sheidya@wwps.com
448     keren@wudfurniture.com
449       bill.popp@wurtec.com

[450 rows x 27 columns]

#Answer,Q4:Considering only NTAs with at least 5 listed businesses, what is the average total savings and the total jobs created for each NTA?

In [54]:
import pandas as pd
#Read in the data from the csv file
ECSP_CSV=pd.read_csv("Value_of_Energy_Cost_Savings_Program_Savings_for_Businesses_-_FY2020.csv")
df=pd.DataFrame(ECSP_CSV)
#Filter the data to only include NTAs with at least 5 businessess
df=df[ECSP_CSV.groupby('NTA').NTA.transform('size')>=5]
results = df.groupby('NTA').agg({'Total Savings': 'mean', 'Job created': 'sum'})
#print the results
print(results)

                                                  Total Savings  Job created
NTA
Battery Park City-Lower Manhattan                 469890.796667          0.0
Bushwick South                                     26140.455000         10.0
Carroll Gardens-Columbia Street-Red Hook           24337.390000          0.0
College Point                                      17159.372857          2.0
Crown Heights North                                 4036.298889          0.0
DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill   59950.340000          0.0
East New York                                      48433.093333         15.0
East Williamsburg                                  13990.626364          0.0
Greenpoint                                          9753.649286          0.0
Hunters Point-Sunnyside-West Maspeth               23931.398933          0.0
Hunts Point                                        39246.016154         12.0
Manhattanville                                      2760.888889          0.0
Maspeth                                             6658.283333         10.0
Mott Haven-Port Morris                             17843.937857         10.0
Queensbridge-Ravenswood-Long Island City           61830.770625          0.0
SoHo-TriBeCa-Civic Center-Little Italy             37214.024000          0.0
Springfield Gardens South-Brookville               17757.662000          0.0
Steinway                                           11227.155714         20.0
Sunset Park West                                   14316.976875          0.0
park-cemetery-etc-Brooklyn                         14327.419333          0.0

#Q5: save result as CSV file

In [46]:
results.to_excel("results.xlsx", sheet_name="values of ECSP", index=True)
results.to_csv("results.csv", index=True)